<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stlpapp.finalproject.app.com.appstlp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="stlpapp.finalproject.app.com.appstlp.tool.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="stlpapp.finalproject.app.com.appstlp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="stlpapp.finalproject.app.com.appstlp.SearchIDCardTypeActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.RequestForHelpActivity" />
        <activity
            android:name="stlpapp.finalproject.app.com.appstlp.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.MainUserActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.ViewSuggestionAndAddMoreRequestActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.CreateUserActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.ProfilePresidentActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.DetailRequestActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.SelectStaffForRequestActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.ProfileStaffAndViewSuggestionHistoryActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.GiveSuggenstionActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.ChooseTheBestSuggestionActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.DetailSuggestionActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.ViewSuggestionHistoryActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.ExportToPDFActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.MorerequestActivity" />
        <activity android:name="stlpapp.finalproject.app.com.appstlp.AnswerMoreRequestActivity"></activity>
    </application>

</manifest>